@mixin h2design {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}

@mixin pdesign {
    margin-bottom: 0;
    font-size: 16px;
    color: #505050;
}

@mixin hrdesign {
    border: 2px solid $color-red;
    width: 10%;
}

@mixin abuttondesign ($padding) {
    background-color:  $color-red;
    padding: $padding;
    color: #fff;
    font-weight: 500;
}
