@import "_variables.scss";
// Global
* {
  box-sizing: border-box !important;
  // margin: 0 !important;
  // padding: 0 !important;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none !important;
}
//Header
header {
  #nav-welcome {
    display: flex;
    padding: 5px 0;
    background-color: #111111;
    .items-left {
      display: flex;
      align-items: center;
      .item-welcome {
        display: flex;
        align-items: center;
        font-size: 14px;
        i {
          color: $color-red;
          margin-right: 8px;
          font-size: 16px;
        }
        span {
          color: #ffffff;
        }
      }
    }
    .items-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .item-icons {
        margin-right: 30px;
        ul {
          display: flex;
          list-style: outside none none;
          margin: 0;
          padding: 0;
          li {
            margin-right: 10px;
            a {
              font-size: 14px;
              color: #888888;
              &:hover {
                color: #ffffff;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .item-applynow {
        color: $color-red;
        font-weight: 500;
        font-size: 14px;
        &:hover {
          color: #a91b08;
          transition: 0.5s;
        }
      }
    }
  }
  #nav-edulearn {
    padding: 25px 0px;
    .items-left {
      display: flex;
      i {
        text-align: center;
        line-height: 40px;
        color: $color-red;
        font-size: 35px;
        margin-right: 15px;
      }
      .item-email {
        display: flex;
        flex-direction: column;
        a:nth-child(1) {
          font-weight: 700;
          color: #101010;
          line-height: 18px;
        }
        a:nth-child(2) {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            color: $color-red;
            transition: 0.5s;
          }
        }
      }
    }
    .items-right {
      display: flex;
      justify-content: flex-end;
      i {
        text-align: center;
        line-height: 40px;
        color: $color-red;
        font-size: 35px;
        margin-right: 15px;
      }
      .item-email {
        display: flex;
        flex-direction: column;
        a:nth-child(1) {
          font-weight: 700;
          color: #101010;
          line-height: 18px;
        }
        a:nth-child(2) {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            color: $color-red;
            transition: 0.5s;
          }
        }
      }
    }
  }
  #nav-main {
    background-color: #212121;
    padding: 15px 0;
    .navbarmenu {
      display: flex;
      justify-content: space-between;
      .contacthover {
        &:hover {
          color: $color-red;
        }
      }
      & > ul {
        margin: 0;
        padding: 0;
        display: flex;
        .dropdown {
          position: relative;
          .active {
            color: $color-red;
          }
          a {
            &:hover {
              color: $color-red;
            }
          }
          &:hover .ul-dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          &:hover .ul-dropdownmega {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          .ul-dropdown {
            position: absolute;
            top: 39px;
            left: 0;
            background-color: #212121;
            width: 300px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s;
            background-color: #111111;
            li:last-child {
              border: none;
            }
            li {
              padding: 10px 0;
              border-bottom: 1px solid #bbb;
              background-color: #111111;
              .subactive {
                color: $color-red;
              }
              a {
                font-size: 15px;
                color: #bbb;
              }
            }
          }
          .ul-dropdownmega {
            position: absolute;
            top: 39px;
            left: -190px;
            background-color: #212121;
            width: 1100px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s;
            background-color: #111111;
            li:last-child {
              border: none;
            }
            li {
              padding: 10px 0;
              border-bottom: 1px solid #bbb;
              background-color: #111111;
              a {
                font-size: 15px;
                color: #bbb;
              }
            }
          }
        }
        li {
          list-style: outside none none;
          padding-right: 40px;
          a {
            color: #bbbba7;
          }
        }
      }
      .item-icons {
        a:nth-child(1) {
          background-color: $color-red;
          padding: 17.5px 14px;
          &:hover {
            background-color: #e41f05;
            transition: 0.5s;
          }
          i {
            color: #ffffff;
          }
        }
        a:nth-child(2) {
          background-color: #e41f05;
          padding: 17.5px 14px;
          &:hover {
            background-color: $color-red;
            transition: 0.5s;
          }
          i {
            color: #ffffff;
            margin-right: 17px;
          }
        }
      }
    }
  }
  .sidenavigationforsass {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: #f1f1f1;
      }
    }
    .closesidenav {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .accordion-edulearn {
      background-color: rgba(0,0,0,0.3);
      color: #fff;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      &:after {
        content: '\2228';
        color: #fff;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        padding: 5px 11px;
        background-color: #474747;
        border: 1px solid #fff;
      }
    }
    .panel-edulearn {
      padding: 0 18px;
      background-color: rgba(0,0,0,0.3);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-bottom: 1px solid rgba(255,255,255,0.15);;
      p {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
main {
  #section-aboutus {
    .item-title {
      .item-aboutus {
        font-size: 30px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
  }
}
