@import "_variables.scss";
@import "_mixins.scss";
// Global
* {
  box-sizing: border-box !important;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none !important;
}
//Header
header {
  #nav-welcome {
    display: flex;
    padding: 5px 0;
    background-color: #111111;
    .items-left {
      display: flex;
      align-items: center;
      .item-welcome {
        display: flex;
        align-items: center;
        font-size: 14px;
        i {
          color: $color-red;
          margin-right: 8px;
          font-size: 16px;
        }
        span {
          color: #ffffff;
        }
      }
    }
    .items-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .item-icons {
        margin-right: 30px;
        ul {
          display: flex;
          list-style: outside none none;
          margin: 0;
          padding: 0;
          li {
            margin-right: 10px;
            a {
              font-size: 14px;
              color: #888888;
              &:hover {
                color: #ffffff;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .item-applynow {
        color: $color-red;
        font-weight: 500;
        font-size: 14px;
        &:hover {
          color: #a91b08;
          transition: 0.5s;
        }
      }
    }
  }
  #nav-edulearn {
    padding: 25px 0px;
    .items-left {
      display: flex;
      i {
        text-align: center;
        line-height: 40px;
        color: $color-red;
        font-size: 35px;
        margin-right: 15px;
      }
      .item-email {
        display: flex;
        flex-direction: column;
        a:nth-child(1) {
          font-weight: 700;
          color: #101010;
          line-height: 18px;
        }
        a:nth-child(2) {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            color: $color-red;
            transition: 0.5s;
          }
        }
      }
    }
    .items-right {
      display: flex;
      justify-content: flex-end;
      i {
        text-align: center;
        line-height: 40px;
        color: $color-red;
        font-size: 35px;
        margin-right: 15px;
      }
      .item-email {
        display: flex;
        flex-direction: column;
        a:nth-child(1) {
          font-weight: 700;
          color: #101010;
          line-height: 18px;
        }
        a:nth-child(2) {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            color: $color-red;
            transition: 0.5s;
          }
        }
      }
    }
  }
  #nav-main {
    background-color: #212121;
    padding: 15px 0;
    z-index: 111111111;
    width: 100%;
    .navbarmenu {
      display: flex;
      justify-content: space-between;
      .contacthover {
        &:hover {
          color: $color-red;
        }
      }
      & > ul {
        margin: 0;
        padding: 0;
        display: flex;
        .dropdown {
          position: relative;
          .active {
            color: $color-red;
          }
          a {
            &:hover {
              color: $color-red;
            }
          }
          &:hover .ul-dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          &:hover .ul-dropdownmega {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          .ul-dropdown {
            position: absolute;
            top: 39px;
            left: 0;
            background-color: #212121;
            width: 300px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s;
            background-color: #111111;
            z-index: 5;
            li:last-child {
              border: none;
            }
            li {
              padding: 10px 0;
              border-bottom: 1px solid #bbb;
              background-color: #111111;
              .subactive {
                color: $color-red;
              }
              a {
                font-size: 15px;
                color: #bbb;
              }
            }
          }
          .ul-dropdownmega {
            position: absolute;
            top: 39px;
            left: -190px;
            background-color: #212121;
            width: 1100px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s;
            background-color: #111111;
            z-index: 5;
            li:last-child {
              border: none;
            }
            li {
              padding: 10px 0;
              border-bottom: 1px solid #bbb;
              background-color: #111111;
              a {
                font-size: 15px;
                color: #bbb;
              }
            }
          }
        }
        li {
          list-style: outside none none;
          padding-right: 40px;
          a {
            color: #bbbba7;
          }
        }
      }
      .item-icons {
        a:nth-child(1) {
          background-color: $color-red;
          padding: 17.5px 14px;
          &:hover {
            background-color: #e41f05;
            transition: 0.5s;
          }
          i {
            color: #ffffff;
          }
        }
        a:nth-child(2) {
          background-color: #e41f05;
          padding: 17.5px 14px;
          &:hover {
            background-color: $color-red;
            transition: 0.5s;
          }
          i {
            color: #ffffff;
            margin-right: 17px;
          }
        }
      }
    }
  }
  .sidenavigationforsass {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: #f1f1f1;
      }
    }
    .closesidenav {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .accordion-edulearn {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      &:after {
        content: "\f078";
        font-family: "Font Awesome 5 Pro";
        color: #fff;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        padding: 5px 11px;
        background-color: #474747;
        border: 1px solid #fff;
      }
    }
    .panel-edulearn {
      padding: 0 18px;
      background-color: rgba(0, 0, 0, 0.3);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      p {
        color: #fff;
        font-size: 14px;
      }
    }
    .search {
      padding: 20px 24px 0;
      position: relative;
      .text {
        display: block;
        font-size: 20px;
        color: #fff;
        position: relative;
      }
      input {
        width: 100%;
        border-radius: 30px;
        background: #fff;
        padding: 7px 25px;
        margin-top: 6px;
      }
      button {
        position: absolute;
        right: 40px;
        background: transparent;
        cursor: pointer;
        bottom: 7px;
        font-size: 18px;
        color: $color-red;
        border: none;
      }
    }
  }
}
main {
  #section-getstarted {
    position: relative;
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      z-index: 11;
      h1 {
        font-size: 60px;
        color: #fff;
        margin-bottom: 15px;
        font-weight: 700;
      }
      p {
        font-weight: 500;
        margin-bottom: 30px;
        font-size: 20px;
        color: #fff;
      }
      .a1 {
        margin-right: 25px;
        @include abuttondesign(15px 25px);
        background-color: #101010;
        transition: all 0.3s;
        &:hover {
        background-color: #e41f05;
        }
      }
      .a2 {
        @include abuttondesign(15px 25px);
        transition: all 0.3s;
        &:hover {
          background-color: #e41f05;
          }
      }
    }
  }
  #section-services {
    .item-main {
      background-color: #212121;
      padding: 25px 17px 17px;
      box-shadow: 0 4px 2px -2px #000000;
      z-index: 111;
      position: relative;
      top: -30px;
      transition: all 0.3s;
      &:hover,
      &:hover .item-services {
        background-color: $color-red;
        color: #fff;
      }
      .item-services {
        height: 130px;
        width: 130px;
        background-color: #212121;
        line-height: 88px;
        text-align: center;
        position: absolute;
        top: -50px;
        z-index: -1;
        font-size: 40px;
        border-radius: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: $color-red;
        transition: all 0.3s;
      }
      .item-text {
        text-align: center;
        margin-top: 6px;
        .item-title {
          position: relative;
          color: #ffffff;
          font-size: 20px;
          margin-bottom: 7px;
          z-index: 10;
        }
        p {
          color: #cccccc;
          margin-bottom: 0;
        }
      }
    }
  }
  #section-aboutus {
    padding: 30px;
    .item-title {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
      }
      hr {
        @include hrdesign;
      }
    }
    .items-youtube {
      position: relative;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%) translateY(-50%);
        &::after {
          content: "\f04b";
          position: absolute;
          font-family: "Font Awesome 5 Pro";
          font-size: 36px;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          transition: all 0.3s ease 0s;
          display: inline-block;
          height: 80px;
          line-height: 80px;
          width: 80px;
          text-align: center;
          background: $color-red;
          border-radius: 50%;
          padding-left: 8px;
          color: #fff;
        }
      }
    }
    .accordion-aboutus {
      background-color: #f3f3f3;
      color: #212121;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      transition: 0.4s;
      &:after {
        content: "\f0da";
        font-family: "Font Awesome 5 Pro";
        color: #212121;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        padding: 5px 11px;
      }
    }
    .activeab {
      background-color: $color-red;
      color: #fff;
      &:after {
        content: "\f0d7";
        font-family: "Font Awesome 5 Pro";
        color: #fff;
      }
    }
    .panel-aboutus {
      padding: 0 18px;
      background-color: #fff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      p {
        color: #767676;
        font-size: 14px;
      }
    }
    .items-all {
      padding: 0 40px;
      .items-text {
        h3 {
          font-size: 24px;
          font-weight: 700;
        }
        p {
          font-size: 15px;
          line-height: 26px;
          margin-bottom: 26px;
          color: #505050;
        }
      }
    }
  }
  #section-ourpopularcourses {
    padding: 100px 0;
    background-color: $color-white;
    .items-title {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
      }
      hr {
        @include hrdesign;
      }
    }
    .main-contentpopular {
      position: relative;
      .carousel-popular {
        .itemsmain-popularcourses {
          border: none;
          background: #fff;
          .itemssub-imagepopular {
            position: relative;
            margin-bottom: 22px;
            img {
              height: auto;
              max-width: 100%;
              transition: all 0.3s;
            }
            .alink {
              position: absolute;
              top: 50%;
              left: 50%;
              color: $color-red;
              z-index: 11;
              transform: translate(-50%, -50%);
            }

            i {
              font-size: 22px;
              font-weight: 400;
              transition: all 0.3s;
            }
            .spanprice {
              position: absolute;
              bottom: -25px;
              right: 25px;
              height: 50px;
              width: 50px;
              line-height: 50px;
              text-align: center;
              background-color: $color-red;
              color: #ffffff;
              font-size: 14px;
              font-weight: 600;
              border-radius: 50%;
              z-index: 1;
            }
          }
          .itemssub-bodypopular {
            text-align: center;
            padding: 0 20px;
            .acategory {
              color: $color-red;
              transition: all 0.3s;
            }
            .item-title {
              font-size: 20px;
              margin-bottom: 7px;
              font-weight: 700;
              a {
                color: #212121;
                transition: all 0.3s;
                &:hover {
                  color: #a3a3a3;
                }
              }
            }
            .item-wrap {
              display: flex;
              justify-content: center;
              margin-bottom: 15px;
              .item-stars {
                display: flex;
                list-style: outside none none;
                margin: 0;
                padding: 0;
                margin-right: 10px;
                padding-right: 10px;
                border-right: 1px solid #ddd;
                line-height: 10px;
                color: $color-red;
                font-size: 14px;
              }
              .item-review {
                line-height: 10px;
                margin-top: 4px;
                color: #505050;
              }
            }
            .item-text {
              margin-top: 10px;
              color: #505050;
              p {
                margin-bottom: 22px;
              }
            }
          }
          .itemssub-footerpopular {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 20px;
            background-color: #f0f0f0;
            text-align: center;

            & > div {
              position: relative;
              text-align: center;
              line-height: 19px;
            }
            & > div + div {
              padding-left: 8px;
              margin-left: 8px;
              border-left: 1px solid #ccc;
            }

            & > div span.item-label {
              font-weight: 700;
            }

            & > div span {
              display: flex;
              justify-content: center;
              font-size: 14px;
              color: #212121;
            }
          }
        }
      }
      .owl-theme {
        .custom-nav2 {
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;

          .owl-prev,
          .owl-next {
            position: absolute;
            border: none;
            background: none;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              color: #fff;
              height: 42px;
              width: 42px;
              background-color: #505050;
              border-radius: 50%;
              z-index: 100;
            }
            &:focus {
              outline: none;
            }
          }
          .owl-prev {
            left: -4rem;
          }

          .owl-next {
            right: -4rem;
          }
        }
      }
    }
  }
  #section-acheivements {
    background-image: url(../images/counter-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding-bottom: 70px;
    padding-top: 100px;
    .items-content {
      .item-title {
        color: #fff;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 28px;
        font-weight: 700;
      }
      .item-text {
        p {
          margin-bottom: 35px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .item-image {
        img {
          width: 540px;
          height: 270px;
          border-radius: 8px;
        }
      }
    }
    .counterboxes {
      margin-top: 80px;
      .items-list {
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 30px;
        text-align: center;
        padding: 23px;
        transition: all 0.3;
        &:hover {
          border-color: $color-red;
        }
        .item-number {
          font-size: 60px;
          color: #ffffff;
          margin-bottom: 6px;
          font-weight: 700;
        }
        .item-word {
          color: #ffffff;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 20px;
        }
      }
    }
  }
  #section-ourupcomingevents {
    padding: 100px 0;
    margin-bottom: 50px;
    .item-title {
      text-align: center;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
      }
      hr {
        @include hrdesign;
      }
    }
    .main-content {
      position: relative;
      .carousel-upcoming {
        .items-upcomingevent {
          .item-image {
            position: relative;
            margin-bottom: 20px;
            a {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $color-red;
              z-index: 11;
              i {
                font-size: 22px;
                font-weight: 400;
              }
            }
          }
          .items-details {
            margin-top: -20px;
            padding: 15px;
            .item-dateupcoming {
              font-size: 14px;
              font-weight: 500;
              i {
                font-size: 13px;
                margin-right: 5px;
                color: $color-red;
              }
              span {
                color: #505050;
              }
            }
            .item-titleupcoming {
              font-size: 20px;
              margin-bottom: 8px;
              margin-top: 4px;
              font-weight: 700;
              a {
                color: #212121;
              }
            }
            .item-timelocationupcoming {
              display: flex;
              font-size: 14px;
              .item-time {
                margin-right: 10px;
                i {
                  color: $color-red;
                  margin-right: 3px;
                }
              }
              .item-location {
                i {
                  color: $color-red;
                  margin-right: 3px;
                }
              }
            }
            .item-buttonupcoming {
              margin-top: 18px;
              a {
                color: $color-red;
                transition: all 0.3s;
                i {
                  font-weight: 300;
                }
                &:hover {
                  color: #e41f05;
                }
              }
            }
          }
        }
      }
      .owl-theme {
        .custom-nav {
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;

          .owl-prev,
          .owl-next {
            position: absolute;
            border: none;
            background: none;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              color: #fff;
              height: 42px;
              width: 42px;
              background-color: #505050;
              border-radius: 50%;
              z-index: 100;
            }
            &:focus {
              outline: none;
            }
          }
          .owl-prev {
            left: -4rem;
          }

          .owl-next {
            right: -4rem;
          }
        }
      }
    }
  }
  #section-ourexperiencedstaff {
    padding: 100px 0;
    background-color: $color-white;
    .item-title {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
      }
      hr {
        @include hrdesign;
      }
    }
    .contentexpert {
      position: relative;
      .sliderex {
        .items-experienced {
          position: relative;
          overflow: hidden;
          .item-image {
            position: relative;
            img {
              max-width: 100%;
              height: auto;
              width: 100%;
            }
            .item-text {
              position: absolute;
              bottom: 0;
              padding: 10px 20px;
              min-width: 175px;
              background-color: rgba(34, 34, 34, 0.8);
              transition: 0.3s;
              .exp-name {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                margin: 0;
              }
              .exp-title {
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                margin: 0;
              }
            }
          }
        }
      }
      .owl-theme {
        .custom-nav3 {
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;

          .owl-prev,
          .owl-next {
            position: absolute;
            border: none;
            background: none;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              color: #fff;
              height: 42px;
              width: 42px;
              background-color: #505050;
              border-radius: 50%;
              z-index: 100;
            }
            &:focus {
              outline: none;
            }
          }
          .owl-prev {
            left: -4rem;
          }

          .owl-next {
            right: -4rem;
          }
        }
      }
    }
  }
  #section-webdesigndevcourse {
    background-image: url(../images/cta-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding: 100px 0;
    .items-webdesign {
      text-align: center;
      .item-webdesign-title {
        margin-bottom: 50px;
        h2 {
          @include h2design;
          color: #fff;
        }
        p {
          @include pdesign;
          color: #fff;
        }
        hr {
          @include hrdesign;
        }
      }
      .webdesign-button {
        @include abuttondesign(15px 55px);
        line-height: 45px;
        &:hover {
          background-color: #e41f05;
          color: #f5ada3;
          transition: 0.5s;
        }
      }
    }
  }
  #section-ourlastestnews {
    padding: 100px 0;
    .item-title {
      margin-bottom: 50px;
      text-align: center;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
        color: #212121;
      }
      hr {
        @include hrdesign;
      }
    }
    .items-news {
      padding: 15px;
      border: 1px solid rgba(34, 34, 34, 0.1);
      transition: all 0.3s;
      .item-image {
        margin-bottom: 20px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .item-date {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        i {
          font-size: 15px;
          font-weight: 500;
          margin-right: 4px;
          color: $color-red;
        }
        span {
          color: #505050;
        }
      }
      .item-title {
        font-size: 20px;
        margin-bottom: 12px;
        font-weight: 700;
        margin-right: 51px;
        a {
          color: #212121;
          transition: all 0.3s;
          &:hover {
            color: $color-red;
          }
        }
      }
      .item-text {
        margin-bottom: 20px;
      }
      .item-button {
        a {
          @include abuttondesign(9px 16px);
          font-size: 13px;
        }
      }
    }
    .items-list {
      overflow: hidden;
      .item-newslist {
        display: flex;
        overflow: hidden;
        padding: 15px;
        border: 1px solid rgba(34, 34, 34, 0.1);
        transition: all 0.3s;
        .item-image {
          img {
            width: 154.33px;
            height: 115.73px;
          }
        }
        .item-content {
          margin-left: 15px;
          .item-contenttitle {
            font-size: 16px;
            margin-bottom: 7px;
            font-weight: 700;
            line-height: 1.2;
            a {
              color: #212121;
            }
          }
          .item-contentdate {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 500;
            i {
              font-size: 15px;
              margin-right: 4px;
              color: $color-red;
            }
            span {
              color: #505050;
            }
          }
          .item-contenttext {
            color: #505050;
            vertical-align: baseline;
            line-height: 26px;
            font-weight: 400;
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  #section-ourpublications {
    padding: 100px 0;
    background-color: $color-white;
    .items-title {
      margin-bottom: 50px;
      text-align: center;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
        color: #212121;
      }
      hr {
        @include hrdesign;
      }
    }
    .main-contentpublications {
      position: relative;
      .carousel-publications {
        .items-product {
          text-align: center;
          transition: all 0.3s;
          background-color: #ffffff;
          .item-img {
            margin-bottom: 17px;
            overflow: hidden;
            img {
              width: 100%;
              transition: all 0.3s;
            }
          }
          .item-title {
            font-size: 20px;
            margin-bottom: 3px;
            font-weight: 700;
            a {
              color: #212121;
            }
          }
          .item-price {
            font-size: 16px;
            color: #444;
          }
          .item-button {
            margin-top: 20px;
            padding-bottom: 25px;
            a {
              margin-left: auto;
              padding: 2px 15px;
              font-size: 15px;
              font-weight: 500;
              text-decoration: none;
              border: 1px solid #212121;
              color: #212121;
            }
          }
        }
      }
      .owl-theme {
        .custom-nav4 {
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;

          .owl-prev,
          .owl-next {
            position: absolute;
            border: none;
            background: none;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              color: #fff;
              height: 42px;
              width: 42px;
              background-color: #505050;
              border-radius: 50%;
              z-index: 100;
            }
            &:focus {
              outline: none;
            }
          }
          .owl-prev {
            left: -4rem;
          }

          .owl-next {
            right: -4rem;
          }
        }
      }
    }
    .item-viewbutton {
      text-align: center;
      margin-top: 20px;
      a {
        @include abuttondesign(12px 55px);
        font-size: 15px;
      }
    }
  }
  #section-whatpeoplesays {
    background-image: url(../images/testimonial-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding: 100px 0;
    .item-title {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        @include h2design;
        color: #fff;
      }
      p {
        @include pdesign;
        color: #fff;
      }
      hr {
        @include hrdesign;
      }
    }
    .main-contentwhat {
      position: relative;
      .carousel-what {
        .items-test {
          padding: 35px;
          background-color: #fff;
          .img-test {
            position: absolute;
            top: -4px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 110px;
            height: 110px;
            padding: 5px;
            background: #fff;
            border-radius: 50%;
            img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .item-text {
            padding: 42px 0;
            position: relative;
            .test-name {
              font-size: 20px;
              margin-bottom: 10px;
            }
            p {
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 0;
            }
          }
        }
      }
      .owl-theme {
        .custom-nav5 {
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;

          .owl-prev,
          .owl-next {
            position: absolute;
            border: none;
            background: none;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              color: #fff;
              height: 42px;
              width: 42px;
              background-color: #505050;
              border-radius: 50%;
              z-index: 100;
            }
            &:focus {
              outline: none;
            }
          }
          .owl-prev {
            left: -4rem;
          }

          .owl-next {
            right: -4rem;
          }
        }
      }
    }
  }
  #section-emblems {
    .item-emblem {
      padding: 70px 0;
      img {
        width: 158px;
        height: 167px;
      }
    }
  }
}

footer {
  color: #e8e8e8;
  margin-top: 98px;
  background-image: url(../images/counter-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  .container {
    position: relative;
    .footer-contactinfo {
      background-color: #222;
      text-align: center;
      padding: 35px;
      position: absolute;
      left: 0;
      right: 0;
      margin: -100px auto 0;
      z-index: 111;
      .contactinfo {
        position: relative;
        i {
          font-size: 28px;
          margin-bottom: 12px;
          color: $color-red;
        }
        .info-title {
          margin-bottom: 10px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 700;
        }
        .info-text {
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 0;
          font-size: 15px;
          margin-bottom: 26px;
        }
      }
      .infoleftborder {
        border-left: 1px solid #ffffff;
        &::after {
          content: "";
          left: -5px;
          position: absolute;
          height: calc(100% - 40px);
          width: 1px;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
        &:before {
          content: "";
          left: 3px;
          position: absolute;
          height: calc(100% - 40px);
          width: 1px;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .inforightborder {
        border-left: 1px solid #ffffff;
        &::after {
          content: "";
          left: -5px;
          position: absolute;
          height: calc(100% - 40px);
          width: 1px;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
        &:before {
          content: "";
          left: 3px;
          position: absolute;
          height: calc(100% - 40px);
          width: 1px;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .footer-main {
    padding-top: 140px;
    .container {
      position: relative;
      .about {
        img {
          margin-bottom: 25px;
        }
        p {
          margin-bottom: 26px;
        }
        .margin0 {
          margin: 0 !important;
        }
      }
      .title {
        margin-bottom: 40px;
        padding-bottom: 5px;
        color: #ffffff;
        font-size: 16px;
        position: relative;
        font-weight: 600;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 1px;
          width: 50px;
          background-color: $color-red;
        }
      }
      .posts {
        .items-post {
          display: flex;
          align-items: center;
          transition: all 0.4s;
          &:last-child {
            margin-top: 18px;
            padding-top: 18px;
            border-top: 1px solid rgba(102, 102, 102, 0.5);
          }
          .date {
            @include abuttondesign(4px 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            span:first-child {
              margin-top: 10px;
            }
            span:last-child {
              font-size: 15px;
            }
          }
          .text {
            margin-left: 15px;
            .text-title {
              font-size: 15px;
              line-height: 24px;
              margin-bottom: 0;
              font-weight: 400;
              a {
                font-family: "Montserrat", sans-serif;
                color: #e8e8e8;
                &:hover {
                  color: #bbbbbb;
                }
              }
            }
            .text-type {
              font-size: 15px;
            }
          }
        }
      }
      .mapofsite {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        li {
          line-height: 33px;
          a {
            color: #e8e8e8;
            position: relative;
            &:hover {
              color: $color-red;
            }
            i {
              padding-right: 10px;
            }
          }
        }
      }
      .news {
        position: relative;
        input {
          background: rgba(0, 0, 0, 0);
          border: 1px solid $color-red;
          color: #ffffff;
          height: 50px;
          outline: 0 none;
          padding: 5px 15px;
          width: 100%;
        }
        button {
          background: $color-red;
          border: none;
          color: #ffffff;
          font-size: 18px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #e41f05;
          }
        }
      }
    }
    .footer-icons {
      text-align: center;
      margin-top: 50px;
      ul {
        display: flex;
        justify-content: center;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        li {
          margin-right: 10px;
          a {
            font-size: 13px;
            display: block;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            line-height: 44px;
            text-align: center;
            color: #fff;
            transition: all 0.3s;
            background: rgba(255, 255, 255, 0.15);
            &:hover {
              background-color: $color-red;
            }
          }
        }
      }
    }
  }
  .footer-last {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 18px 0;
    margin-top: 35px;
    p {
      opacity: 0.95;
      margin-bottom: 0;
      font-size: 15px;
      a {
        color: $color-red;
        transition: all 0.3s;
        &:hover {
          color: #bd1e09;
        }
      }
    }
  }
}
