* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none !important;
}

header #nav-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  background-color: #111111;
}

header #nav-welcome .items-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #nav-welcome .items-left .item-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

header #nav-welcome .items-left .item-welcome i {
  color: #FF3115;
  margin-right: 8px;
  font-size: 16px;
}

header #nav-welcome .items-left .item-welcome span {
  color: #ffffff;
}

header #nav-welcome .items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #nav-welcome .items-right .item-icons {
  margin-right: 30px;
}

header #nav-welcome .items-right .item-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

header #nav-welcome .items-right .item-icons ul li {
  margin-right: 10px;
}

header #nav-welcome .items-right .item-icons ul li a {
  font-size: 14px;
  color: #888888;
}

header #nav-welcome .items-right .item-icons ul li a:hover {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #nav-welcome .items-right .item-applynow {
  color: #FF3115;
  font-weight: 500;
  font-size: 14px;
}

header #nav-welcome .items-right .item-applynow:hover {
  color: #a91b08;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #nav-edulearn {
  padding: 25px 0px;
}

header #nav-edulearn .items-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #nav-edulearn .items-left i {
  text-align: center;
  line-height: 40px;
  color: #FF3115;
  font-size: 35px;
  margin-right: 15px;
}

header #nav-edulearn .items-left .item-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #nav-edulearn .items-left .item-email a:nth-child(1) {
  font-weight: 700;
  color: #101010;
  line-height: 18px;
}

header #nav-edulearn .items-left .item-email a:nth-child(2) {
  color: #505050;
  font-weight: 400;
  font-size: 16px;
}

header #nav-edulearn .items-left .item-email a:nth-child(2):hover {
  color: #FF3115;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #nav-edulearn .items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #nav-edulearn .items-right i {
  text-align: center;
  line-height: 40px;
  color: #FF3115;
  font-size: 35px;
  margin-right: 15px;
}

header #nav-edulearn .items-right .item-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #nav-edulearn .items-right .item-email a:nth-child(1) {
  font-weight: 700;
  color: #101010;
  line-height: 18px;
}

header #nav-edulearn .items-right .item-email a:nth-child(2) {
  color: #505050;
  font-weight: 400;
  font-size: 16px;
}

header #nav-edulearn .items-right .item-email a:nth-child(2):hover {
  color: #FF3115;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #nav-main {
  background-color: #212121;
  padding: 15px 0;
}

header #nav-main .navbarmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #nav-main .navbarmenu .contacthover:hover {
  color: #FF3115;
}

header #nav-main .navbarmenu > ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #nav-main .navbarmenu > ul .dropdown {
  position: relative;
}

header #nav-main .navbarmenu > ul .dropdown .active {
  color: #FF3115;
}

header #nav-main .navbarmenu > ul .dropdown a:hover {
  color: #FF3115;
}

header #nav-main .navbarmenu > ul .dropdown:hover .ul-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header #nav-main .navbarmenu > ul .dropdown:hover .ul-dropdownmega {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdown {
  position: absolute;
  top: 39px;
  left: 0;
  background-color: #212121;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #111111;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdown li:last-child {
  border: none;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdown li {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  background-color: #111111;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdown li .subactive {
  color: #FF3115;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdown li a {
  font-size: 15px;
  color: #bbb;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdownmega {
  position: absolute;
  top: 39px;
  left: -190px;
  background-color: #212121;
  width: 1100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #111111;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdownmega li:last-child {
  border: none;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdownmega li {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  background-color: #111111;
}

header #nav-main .navbarmenu > ul .dropdown .ul-dropdownmega li a {
  font-size: 15px;
  color: #bbb;
}

header #nav-main .navbarmenu > ul li {
  list-style: outside none none;
  padding-right: 40px;
}

header #nav-main .navbarmenu > ul li a {
  color: #bbbba7;
}

header #nav-main .navbarmenu .item-icons a:nth-child(1) {
  background-color: #FF3115;
  padding: 17.5px 14px;
}

header #nav-main .navbarmenu .item-icons a:nth-child(1):hover {
  background-color: #e41f05;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #nav-main .navbarmenu .item-icons a:nth-child(1) i {
  color: #ffffff;
}

header #nav-main .navbarmenu .item-icons a:nth-child(2) {
  background-color: #e41f05;
  padding: 17.5px 14px;
}

header #nav-main .navbarmenu .item-icons a:nth-child(2):hover {
  background-color: #FF3115;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #nav-main .navbarmenu .item-icons a:nth-child(2) i {
  color: #ffffff;
  margin-right: 17px;
}

header .sidenavigationforsass {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

header .sidenavigationforsass a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .sidenavigationforsass a:hover {
  color: #f1f1f1;
}

header .sidenavigationforsass .closesidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header .sidenavigationforsass .accordion-edulearn {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .sidenavigationforsass .accordion-edulearn:after {
  content: "\2228";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  padding: 5px 11px;
  background-color: #474747;
  border: 1px solid #fff;
}

header .sidenavigationforsass .panel-edulearn {
  padding: 0 18px;
  background-color: rgba(0, 0, 0, 0.3);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

header .sidenavigationforsass .panel-edulearn p {
  color: #fff;
  font-size: 14px;
}

main #section-aboutus {
  padding: 30px;
}

main #section-aboutus .item-title {
  text-align: center;
}

main #section-aboutus .item-title h2 {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #212121;
}

main #section-aboutus .item-title p {
  margin-bottom: 0;
  font-size: 16px;
}

main #section-aboutus .item-title hr {
  border: 2px solid #ff3115;
  width: 10%;
}

main #section-aboutus .items-youtube {
  position: relative;
}

main #section-aboutus .items-youtube a {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

main #section-aboutus .items-youtube a i {
  color: #FF3115;
  font-size: 100px;
}

main #section-aboutus .accordion-aboutus {
  background-color: #f3f3f3;
  color: #212121;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main #section-aboutus .accordion-aboutus:after {
  content: "\21E8";
  color: #212121;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  padding: 5px 11px;
}

main #section-aboutus .activeab {
  background-color: #FF3115;
  color: #fff;
}

main #section-aboutus .activeab:after {
  content: "\21E9";
  color: #fff;
}

main #section-aboutus .panel-aboutus {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

main #section-aboutus .panel-aboutus p {
  color: #767676;
  font-size: 14px;
}

main #section-aboutus .items-all {
  padding: 0 40px;
}

main #section-acheivements {
  background-image: url(../images/counter-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding-bottom: 70px;
  padding-top: 100px;
}

main #section-acheivements .items-content .item-title {
  color: #fff;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 28px;
  font-weight: 700;
}

main #section-acheivements .items-content .item-text p {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.6);
}

main #section-acheivements .items-content .item-image img {
  width: 540px;
  height: 270px;
  border-radius: 8px;
}

main #section-acheivements .counterboxes {
  margin-top: 80px;
}

main #section-acheivements .counterboxes .items-list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
  text-align: center;
  padding: 23px;
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

main #section-acheivements .counterboxes .items-list:hover {
  border-color: #FF3115;
}

main #section-acheivements .counterboxes .items-list .item-number {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 6px;
  font-weight: 700;
}

main #section-acheivements .counterboxes .items-list .item-word {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 20px;
}

main #section-webdesigndevcourse {
  background-image: url(../images/cta-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding: 100px 0;
}

main #section-webdesigndevcourse .items-webdesign {
  text-align: center;
}

main #section-webdesigndevcourse .items-webdesign .item-webdesign-title {
  margin-bottom: 50px;
}

main #section-webdesigndevcourse .items-webdesign .item-webdesign-title h2 {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #fff;
}

main #section-webdesigndevcourse .items-webdesign .item-webdesign-title p {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
}

main #section-webdesigndevcourse .items-webdesign .item-webdesign-title hr {
  border: 2px solid #ff3115;
  width: 10%;
}

main #section-webdesigndevcourse .items-webdesign .webdesign-button {
  background-color: #ff3115;
  padding: 15px 55px;
  color: #fff;
  font-weight: 500;
  line-height: 45px;
}

main #section-webdesigndevcourse .items-webdesign .webdesign-button:hover {
  background-color: #E41F05;
  color: #F5ADA3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */