@import "_variables.scss";
@import "_mixins.scss";
// Global
* {
  box-sizing: border-box !important;
  // margin: 0 !important;
  // padding: 0 !important;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none !important;
}
//Header
header {
  #nav-welcome {
    display: flex;
    padding: 5px 0;
    background-color: #111111;
    .items-left {
      display: flex;
      align-items: center;
      .item-welcome {
        display: flex;
        align-items: center;
        font-size: 14px;
        i {
          color: $color-red;
          margin-right: 8px;
          font-size: 16px;
        }
        span {
          color: #ffffff;
        }
      }
    }
    .items-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .item-icons {
        margin-right: 30px;
        ul {
          display: flex;
          list-style: outside none none;
          margin: 0;
          padding: 0;
          li {
            margin-right: 10px;
            a {
              font-size: 14px;
              color: #888888;
              &:hover {
                color: #ffffff;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .item-applynow {
        color: $color-red;
        font-weight: 500;
        font-size: 14px;
        &:hover {
          color: #a91b08;
          transition: 0.5s;
        }
      }
    }
  }
  #nav-edulearn {
    padding: 25px 0px;
    .items-left {
      display: flex;
      i {
        text-align: center;
        line-height: 40px;
        color: $color-red;
        font-size: 35px;
        margin-right: 15px;
      }
      .item-email {
        display: flex;
        flex-direction: column;
        a:nth-child(1) {
          font-weight: 700;
          color: #101010;
          line-height: 18px;
        }
        a:nth-child(2) {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            color: $color-red;
            transition: 0.5s;
          }
        }
      }
    }
    .items-right {
      display: flex;
      justify-content: flex-end;
      i {
        text-align: center;
        line-height: 40px;
        color: $color-red;
        font-size: 35px;
        margin-right: 15px;
      }
      .item-email {
        display: flex;
        flex-direction: column;
        a:nth-child(1) {
          font-weight: 700;
          color: #101010;
          line-height: 18px;
        }
        a:nth-child(2) {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          &:hover {
            color: $color-red;
            transition: 0.5s;
          }
        }
      }
    }
  }
  #nav-main {
    background-color: #212121;
    padding: 15px 0;
    .navbarmenu {
      display: flex;
      justify-content: space-between;
      .contacthover {
        &:hover {
          color: $color-red;
        }
      }
      & > ul {
        margin: 0;
        padding: 0;
        display: flex;
        .dropdown {
          position: relative;
          .active {
            color: $color-red;
          }
          a {
            &:hover {
              color: $color-red;
            }
          }
          &:hover .ul-dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          &:hover .ul-dropdownmega {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          .ul-dropdown {
            position: absolute;
            top: 39px;
            left: 0;
            background-color: #212121;
            width: 300px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s;
            background-color: #111111;
            li:last-child {
              border: none;
            }
            li {
              padding: 10px 0;
              border-bottom: 1px solid #bbb;
              background-color: #111111;
              .subactive {
                color: $color-red;
              }
              a {
                font-size: 15px;
                color: #bbb;
              }
            }
          }
          .ul-dropdownmega {
            position: absolute;
            top: 39px;
            left: -190px;
            background-color: #212121;
            width: 1100px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s;
            background-color: #111111;
            li:last-child {
              border: none;
            }
            li {
              padding: 10px 0;
              border-bottom: 1px solid #bbb;
              background-color: #111111;
              a {
                font-size: 15px;
                color: #bbb;
              }
            }
          }
        }
        li {
          list-style: outside none none;
          padding-right: 40px;
          a {
            color: #bbbba7;
          }
        }
      }
      .item-icons {
        a:nth-child(1) {
          background-color: $color-red;
          padding: 17.5px 14px;
          &:hover {
            background-color: #e41f05;
            transition: 0.5s;
          }
          i {
            color: #ffffff;
          }
        }
        a:nth-child(2) {
          background-color: #e41f05;
          padding: 17.5px 14px;
          &:hover {
            background-color: $color-red;
            transition: 0.5s;
          }
          i {
            color: #ffffff;
            margin-right: 17px;
          }
        }
      }
    }
  }
  .sidenavigationforsass {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: #f1f1f1;
      }
    }
    .closesidenav {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .accordion-edulearn {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      &:after {
        content: "\f078";
        font-family: "Font Awesome 5 Pro";
        color: #fff;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        padding: 5px 11px;
        background-color: #474747;
        border: 1px solid #fff;
      }
    }
    .panel-edulearn {
      padding: 0 18px;
      background-color: rgba(0, 0, 0, 0.3);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      p {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
main {
  #section-aboutus {
    padding: 30px;
    .item-title {
      text-align: center;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
      }
      hr {
        @include hrdesign;
      }
    }
    .items-youtube {
      position: relative;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%) translateY(-50%);
        i {
          color: $color-red;
          font-size: 100px;
        }
      }
    }
    .accordion-aboutus {
      background-color: #f3f3f3;
      color: #212121;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      &:after {
        content: "\f0da";
        font-family: "Font Awesome 5 Pro";
        color: #212121;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        padding: 5px 11px;
      }
    }
    .activeab {
      background-color: $color-red;
      color: #fff;
      &:after {
        content: "\f0d7";
        font-family: "Font Awesome 5 Pro";
        color: #fff;
      }
    }
    .panel-aboutus {
      padding: 0 18px;
      background-color: #fff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      p {
        color: #767676;
        font-size: 14px;
      }
    }
    .items-all {
      padding: 0 40px;
    }
  }
  #section-acheivements {
    background-image: url(../images/counter-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding-bottom: 70px;
    padding-top: 100px;
    .items-content {
      .item-title {
        color: #fff;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 28px;
        font-weight: 700;
      }
      .item-text {
        p {
          margin-bottom: 35px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .item-image {
        img {
          width: 540px;
          height: 270px;
          border-radius: 8px;
        }
      }
    }
    .counterboxes {
      margin-top: 80px;
      .items-list {
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 30px;
        text-align: center;
        padding: 23px;
        transition: all 0.3;
        &:hover {
          border-color: $color-red;
        }
        .item-number {
          font-size: 60px;
          color: #ffffff;
          margin-bottom: 6px;
          font-weight: 700;
        }
        .item-word {
          color: #ffffff;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 20px;
        }
      }
    }
  }
  #section-ourupcomingevents {
    padding: 100px 0;
    margin-bottom: 50px;
    .item-title {
      text-align: center;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
      }
      hr {
        @include hrdesign;
      }
    }
    .main-content {
      position: relative;
      .carousel-upcoming {
        .items-upcomingevent {
          .item-image {
            position: relative;
            margin-bottom: 20px;
            a {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $color-red;
              z-index: 11;
              i {
                font-size: 22px;
                font-weight: 400;
              }
            }
          }
          .items-details {
            margin-top: -20px;
            padding: 15px;
            .item-dateupcoming {
              font-size: 14px;
              font-weight: 500;
              i {
                font-size: 13px;
                margin-right: 5px;
                color: $color-red;
              }
              span {
                color: #505050;
              }
            }
            .item-titleupcoming {
              font-size: 20px;
              margin-bottom: 8px;
              margin-top: 4px;
              font-weight: 700;
              a {
                color: #212121;
              }
            }
            .item-timelocationupcoming {
              display: flex;
              font-size: 14px;
              .item-time {
                margin-right: 10px;
                i {
                  color: $color-red;
                  margin-right: 3px;
                }
              }
              .item-location {
                i {
                  color: $color-red;
                  margin-right: 3px;
                }
              }
            }
            .item-buttonupcoming {
              margin-top: 18px;
              a {
                color: $color-red;
                transition: all 0.3s;
                i {
                  font-weight: 300;
                }
                &:hover {
                  color: #e41f05;
                }
              }
            }
          }
        }
      }
      .owl-theme {
        .custom-nav {
          position: absolute;
          top: 20%;
          left: 0;
          right: 0;

          .owl-prev,
          .owl-next {
            position: absolute;
           border: none;
            background: none;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              color: #fff;
              height: 42px;
              width: 42px;
              background-color: #505050;
              border-radius: 50%;
              z-index: 100;
            }
            &:focus {
              outline: none;
            }
          }
          .owl-prev {
            left: -4rem;
          }

          .owl-next {
            right: -4rem;
          }
        }
      }
    }
  }
  #section-webdesigndevcourse {
    background-image: url(../images/cta-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding: 100px 0;
    .items-webdesign {
      text-align: center;
      .item-webdesign-title {
        margin-bottom: 50px;
        h2 {
          @include h2design;
          color: #fff;
        }
        p {
          @include pdesign;
          color: #fff;
        }
        hr {
          @include hrdesign;
        }
      }
      .webdesign-button {
        @include abuttondesign(15px 55px);
        line-height: 45px;
        &:hover {
          background-color: #e41f05;
          color: #f5ada3;
          transition: 0.5s;
        }
      }
    }
  }
  #section-ourlastestnews {
    padding: 100px 0;
    .item-title {
      margin-bottom: 50px;
      text-align: center;
      h2 {
        @include h2design;
        color: #212121;
      }
      p {
        @include pdesign;
        color: #212121;
      }
      hr {
        @include hrdesign;
      }
    }
    .items-news {
      padding: 15px;
      border: 1px solid rgba(34, 34, 34, 0.1);
      transition: all 0.3s;
      .item-image {
        margin-bottom: 20px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .item-date {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        i {
          font-size: 15px;
          font-weight: 500;
          margin-right: 4px;
          color: $color-red;
        }
        span {
          color: #505050;
        }
      }
      .item-title {
        font-size: 20px;
        margin-bottom: 12px;
        font-weight: 700;
        margin-right: 51px;
        a {
          color: #212121;
          transition: all 0.3s;
          &:hover {
            color: $color-red;
          }
        }
      }
      .item-text {
        margin-bottom: 20px;
      }
      .item-button {
        a {
          @include abuttondesign(9px 16px);
          font-size: 13px;
        }
      }
    }
    .items-list {
      overflow: hidden;
      .item-newslist {
        display: flex;
        overflow: hidden;
        padding: 15px;
        border: 1px solid rgba(34, 34, 34, 0.1);
        transition: all 0.3s;
        .item-image {
          img {
            width: 154.33px;
            height: 115.73px;
          }
        }
        .item-content {
          margin-left: 15px;
          .item-contenttitle {
            font-size: 16px;
            margin-bottom: 7px;
            font-weight: 700;
            line-height: 1.2;
            a {
              color: #212121;
            }
          }
          .item-contentdate {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 500;
            i {
              font-size: 15px;
              margin-right: 4px;
              color: $color-red;
            }
            span {
              color: #505050;
            }
          }
          .item-contenttext {
            color: #505050;
            vertical-align: baseline;
            line-height: 26px;
            font-weight: 400;
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
